extends layout

block content
  .home-page
    header
      h1= pageTitle
      p Your ultimate destination for gaming

    section.featured-products
      h2 Featured Games
      // Include featured game components here

    section.about-us
      h2 About Us
      p Discover Gaming World, your ultimate source for gaming and esports. We offer a wide range of games for all gamers.
      p Explore our collection to find the latest trends and must-have titles for every season.

    section.newsletter
      h2 Subscribe to Our Newsletter
      p Receive the latest updates on special offers, new game releases, and more.
      // Include a newsletter signup form here

    include nav
