extends layout

block content
  .our-services-page
    header
      h1= pageTitle

    section.service
      h2 Game Customization Service
      p We offer a game customization service to create unique gaming experiences.

    section.service
      h2 Expert Gaming Advice
      p Our experienced gamers are here to provide you with expert gaming advice and help you master your favorite games.

    section.service
      h2 Fast Game Delivery
      p Enjoy our fast game delivery service and get your games delivered to your doorstep in record time.

    section.service
      h2 Easy Returns
      p We provide hassle-free returns to ensure your satisfaction. If something doesn't meet your expectations, we make it easy to return.

    include nav
